<section class="section-margin--small">
  <div class="container" style="background-color: #dfe1fc;padding: 30px;">
    <div class="row">

      <div class="col-md-4 col-lg-3 mb-4 mb-md-0">

        <h1>Sign Up</h1>
        <p>Create a new account.  All fields are required.</p>

        <% if @user.errors.any? %>
          <div class='alert alert-danger'>
            <p>Please correct the following errors:</p>
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <p >
          Already have an account? <%= link_to 'Click here to sign in.', login_path %>
        </p>

      </div>

      <div class="col-md-6 col-lg-5">

        <%= form_for @user do |f| %>
          <div class='form-group'>
            <%= f.text_field :first_name, class: 'form-control', placeholder: 'First Name' %>
          </div>
          <div class='form-group'>
            <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last Name' %>
          </div>
          <div class='form-group'>
            <%= f.text_field :phone_no, class: 'form-control', placeholder: 'Phone Number' %>
          </div>
          <div class='form-group'>
            <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
          </div>
          <div class='form-group'>
            <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
          </div>
          <div class='form-group'>
            <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm Password' %>
          </div>
          <%= f.submit 'Register', class: 'btn btn-primary' %>
        <% end %>

      </div>

    </div>
  </div>
</section>