<section class="section-margin--small">
  <div class="container" style="background-color: #dfe1fc;padding: 30px;">
    <div class="row">

      <div class="col-md-4 col-lg-3 mb-4 mb-md-0">

        <h5>Edit User Details</h5>
        <h5 style="font-size: 15px;">
          <a href="/admin/users"><i class="fa fa-arrow-left"></i> Go Back</a>
        </h5>

        <% if @admin_user.errors.any? %>
          <div class='alert alert-danger'>
            <p>Please correct the following errors:</p>
            <ul>
              <% @admin_user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

      </div>

      <div class="col-md-6 col-lg-5">

        <%= form_for @admin_user, url: {action: "update"} do |f| %>
          <div class='form-group'>
            <%= f.text_field :first_name, class: 'form-control', value: @admin_user.first_name %>
          </div>
          <div class='form-group'>
            <%= f.text_field :last_name, class: 'form-control', value: @admin_user.last_name %>
          </div>
          <div class='form-group'>
            <%= f.text_field :phone_no, class: 'form-control', value: @admin_user.phone_no %>
          </div>
          <div class='form-group'>
            <%= f.email_field :email, class: 'form-control', value: @admin_user.email %>
          </div>
          <div class='form-group'>
            <%= f.text_field :balance, class: 'form-control', value: @admin_user.balance %>
          </div>
          <div class='form-group' style="padding-top:20px;padding-bottom:20px;">
            <%= f.check_box :admin  %> Admin?
          </div>
          
          <%= f.submit 'Update!', class: 'btn btn-primary' %>
        <% end %>

      </div>

    </div>
  </div>
</section>
